<router-outlet>
  <div class="TEMPLEADO">
    <h4>TEMPLEADO</h4>
    <input class="texto" type="texto" name="CI" CI="CI" placeholder="CI">
    <input class="texto" type="texto" name="nombre-completo" nombre-completo="nombre-completo" placeholder="nombre-completo">
    <input class="texto" type="texto" name="telefono" telefono="telefono" placeholder="telefono">
    <input class="texto" type="texto" name="Email" Email="Email" placeholder="Email">
    <input class="texto" type="texto" name="Cargo" Cargo="Cargo" placeholder="Cargo">
    <input class="texto" type="texto" name="Direccion" Direccion="Direccion" placeholder="Direccion">
    <input class="texto" type="texto" name="Sucursal" Sucursal="Sucursal" placeholder="Sucursal">
    <button class="Botones">GUARDAR</button>
    <button class="Botones">MODIFICAR</button>
    <button class="Botones">ELIMINAR</button>
    <button class="Botones">BUSCAR</button>
  </div>
<router-outlet></router-outlet>
